.popup.popup-audio
  .close
  .title Записать сообщение
  %form{"accept-charset" => "UTF-8", :action => "/profile/audiomessage", :method => "post", :enctype => "multipart/form-data"}
    %input{:name => "utf8", :type => "hidden", :value => "✓"}/
    %input{:name => "user_id", :type => "hidden"}/
    %input{:name => "authenticity_token", :type => "hidden", :value => "/ILmNl4uphX+FGSOk4ldoj3kIf8YKnLUl/HhazQrPmg="}
    %input{:name => "audio", :type => "file", :style => "display:none;", :value => ""}/
    .clear
    .record-line
      .record-1{:onclick => "toggleRecording(this);"}
        .image
          = image_tag "record-1.png"
        %span Записать
      .record-2.disabled
        .image
          = image_tag "record-2.png"
        %a#save{:href => ""} Воспроизвести сообщение
        %audio#save-audio{:controls => "", :src => ""}
      
      .record-3.disabled
        .image
          = image_tag "record-3.png"
        %span Удалить
      .clear
    .clear
    %input.btn{:name => "commit", :type => "submit", :value => "Сохранить"}/

.master-list
  %h3
    Аудиосообщения
    %br>/
    сообщения
  .select-block
    
  .clear
  - if @message.blank?
    .no-message У вас нет сообщений
  - else
    - i = 0
    - @message.each do |t|
      - if !t.from_user.blank?
        - user = User.where(id: t.from_user)
      - clazz = ""
      - clazz = "master-dark" if !user.blank? && user.first.id != @current_user.id
      .master{:class => clazz}
        .image
          - if !user.blank?
            - if !user.first.image.blank?
              = image_tag user.first.image.big.url
            - elsif
              - if !user.first.photo.blank?
                = image_tag user.first.photo
            - else
              = image_tag "noimage.png"
        .text
          .left
            - if !user.blank? && user.first.id != @current_user.id
              .name-block
                .name-left
                  .name
                    - if !user.blank?
                      %b= user.first.name2
                      = user.first.name1
                      .who=raw user.first.name3
                .clear
          .right
          .clear
          .description
            .item
              .play
                %audio{:controls => "", :src => t.audio.url}
                %img{:src => "/assets/play.png"}/
              .audio-block
                .text Воспроизвести
              .clear
          .bottom
            - if !user.blank? && user.first.id != @current_user.id
              .time Был на сайте: #{date_format_time(user.first.last_seen)}
            .connect
              %a.fav.delete-message{:href => "#"} Удалить
              - if !user.blank? && user.first.id != @current_user.id
                %a.mesage.btn-add-record{:href => "#", :to_user_id => user.first.id} Ответить
            .clear
        .clear
